<fa-app id="nav-pattern-container" ng-style="{width: surfaceWidth, height: surfaceHeight}">

    <fa-surface
        fa-pipe-to="eventHandler">
      <div class="menu-icon" fa-click="openMenu()"></div>
    </fa-surface>

  <fa-modifier fa-index="$index" ng-repeat="item in menuItems track by item._id"
               fa-translate="[item.transX.get(), item.transY.get(), 1]"
               fa-animate-enter="menuItemEnter(item)" fa-animate-leave="menuItemLeave(item)">
    <fa-surface fa-pipe-to="eventHandler" fa-click="openMenuItem(item)">
      <div class="menu-item"></div>
    </fa-surface>
  </fa-modifier>

</fa-app>

